* {
    margin:0;
    padding:0;
}
html, body {
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 160%;
    position: relative;
}

.container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: gray;
}



.cell {
    display: inline-block;
    height: 15vh;
    width: 15vh;
    border: 3px solid #ccc;
    font-size: 7.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.winnerText {
    color: red;
    font-size: 7.5rem;
    padding-bottom: 10vh;
}

.restart {
    margin-top: 10vh;
    width: 15vw;
    height: 10vh;
    font-size: 3.5rem;
    border: none;
    background-color: #ccc;
    border-radius: 15px;
}

.restart:hover {
    scale: 1.1;
    cursor: pointer;
}

.restart:active {
    scale: 1.2;
    cursor: pointer;
}